.block-views-blockabout-block-1 {
  display: flex;

  .form-group {
    margin: auto;
  }
}

.block-views-blockabout-block-1 {
  .block-title {
    display: none;
  }

  .form-group {
    .view-display-id-block_1 {
      &:before, &:after {
        content: '';
        display: inline-block;
        height: 5px;
        position: relative;
        vertical-align: bottom;
        width: 100%;
      }

      &::before {
        top: 104px;
        background-color: black;
      }

      &::after {
        bottom: 66px;
        background-color: #6e9bc6;
      }

      .view-content {


        .views-row {
          margin: 120px 0 78px;


          .views-field-title {
            margin-top: -7px;
          }

          .views-field-field-about-text {
            margin-right: 59px;
            margin-left: 14px;

            .field-content {
              margin: auto;
              text-transform: uppercase;
              color: #cecece;
              font-size: 20px;
            }
          }

          .views-field-title {
            .field-content {
              a {
                color: black;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 700;
                font-size: 29px;
              }
            }
          }

          .views-field-field-about-link {
            width: 109px;
            height: 29px;
            background-color: #6e9bc6;
            display: flex;

            .field-content {
              margin: auto;

              a {
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 13px;
              }
            }
          }

          .views-field-field-about-link:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

.region-content {
  padding-left: 10px;
  .block-field-blocknodeaboutbody-basicbody {
    padding-left: 10px;

    .field--type-text-with-summary {
      padding-left: 10px;

      p {
        font-size: 19px;
        text-indent: 1.5em;
        text-align: justify;
      }
    }
  }
}


@media (max-width: 1242px) {
  .block-views-blockabout-block-1 {
    .form-group {
      .view-display-id-block_1 {
        .view-content {
          .views-row {
            .views-field-field-about-text {
              margin-right: 14px;
              margin-left: 14px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .block-views-blockabout-block-1 {
    .form-group {
      .view-display-id-block_1 {
        .views-row {
          flex-direction: column;

          .views-field-title {
            margin: auto;
          }

          .views-field-field-about-text {
            margin: auto;
            text-align: center;
          }

          .views-field-field-about-link {
            margin: auto;
          }
        }
      }
    }
  }
}
