.slick {
  width: 1200px;
  margin: auto;
}

.slick__slider{
  margin-bottom: 158px;

  .slide-text{
    margin-top: 22px;
    margin-bottom: 65px;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;

    &:before, &:after {
      background-color: #cfcfcf;
      content: '';
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 28%;
    }

    &::before {
      right: 0.5em;
      margin-left: -50%;
    }

    &::after {
      left: 0.5em;
      margin-right: -50%;
    }
  }
}

@media (max-width: 1199px) {
  .block-views-blockslider-block-1 {
    margin-bottom: 50px;
  }
  .slick {
    width: 900px;
    margin: auto;
  }
}
@media (max-width: 899px) {
  .slick {
    width: 500px;
    margin: auto;
  }
}
@media (max-width: 500px) {
  .slick {
    width: 319px;
    margin: auto;
  }
}
@media (max-width: 444px) {
  .block-views-blockslider-block-1{
    .block-title {
      &:before, &:after {
        width: 20%;
      }
    }
  }
}
