.block-views-blockservices--block-10 {
  width: 66%;
  margin: 0 auto 73px;

  .block-title {
    text-transform: uppercase;
    margin-bottom: 85px;
    font-weight: 700;

    &:before, &:after {
      background-color: #cfcfcf;
      content: '';
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 40%;
    }

    &::before {
      right: 0.5em;
      margin-left: -50%;
    }

    &::after {
      left: 0.5em;
      margin-right: -50%;
    }
  }

  .form-group {
    margin: auto;

    .view-display-id-block_10 {
      .view-content {
        .views-view-grid {
          .views-row{
            .views-col {
              .views-field-field-services-image {
                .field-content {
                  img {
                    margin: 0 auto 30px;
                  }
                }
              }

              .views-field-field-services-taxonomy {
                display: flex;

                .field-content {
                  margin: 0 auto 6px;

                  a {
                    margin: auto;
                    text-transform: uppercase;
                    color: #3d3d42;
                    font-size: 22px;
                    text-decoration: none;
                  }
                }
              }

              .views-field-field-services-link {
                .field-content {
                  background-color: #6e9bc6;
                  width: 93px;
                  height: 28px;
                  display: flex;
                  margin: auto;

                  a {
                    margin: auto;
                    text-transform: uppercase;
                    color: white;
                    text-decoration: none;
                  }
                }

                .field-content:hover {
                  opacity: 0.7;
                }
              }

              .views-field-field-services-text {
                .field-content {
                    text-align: center;
                    padding: 0 13px;
                    text-transform: uppercase;
                    font-size: 12px;
                    margin-bottom: 22px;
                    color: #cecece;
                }
              }
            }
          }
        }
      }
    }
  }
}

.main-container {
  .region-content {
    .views-element-container {
      .view-display-id-page_10 {
        .view-content {
          flex-direction: column;
          .views-row {
            .views-field-title {
              .field-content {
                a {
                  color: black;
                  text-decoration: none;
                  font-size: 20px;
                  margin-left: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 1561px) {
  .block-views-blockservices--block-10 {
    width: 80%;
  }
}

@media (max-width: 1300px) {
  .block-views-blockservices--block-10 {
    width: auto;
  }
}

@media (max-width: 1199px) {
  .block-views-blockservices--block-10 {
    width: auto;

    .form-group {
      .view-id-services {
        .view-content {
          .card {
            .views-field-view-node {
              margin: 0 auto 40px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1030px) {
  .block-views-blockservices--block-10 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .block-views-blockservices--block-10 {
    .block-title {
      &:before, &:after {
        width: 27%;
      }
    }

    .form-group {
      .view-display-id-block_10 {
        .view-content {
          .views-view-grid {
            .card-deck {
              .card {
                width: auto;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 444px) {
  .block-views-blockservices-block-10 {
    .block-title {
      &:before, &:after {
        width: 20%;
      }
    }
  }
}
