.card {
  .views-field-field-photo {
    img {
      width: 290px;
      height: 290px;
      filter: grayscale(100%);
    }
  }
}

.card:hover {
  .views-field-field-photo {
    img {
      filter: grayscale(0%);
      transition: all 0.8s ease-out;
    }
  }
}

.block-views-blockour-team-block-1 {
  .form-group {
    .view-display-id-block_1 {
      .view-content {
        .views-view-grid {
          .views-row {
            column-gap: 37px;

            .views-col {
              .block-field-blocknodeour-teamtitle {
                display: flex;
                margin: 34px auto 20px;
                  span {
                    margin: auto;
                    a {
                      text-transform: uppercase;
                      color: #3a3847;
                      font-size: 24px;
                      text-decoration: none;
                    }
                  }
              }

              .field--name-field-team-taxonomy {
                  display: flex;

                  a {
                    margin: -4px auto 17px;
                    color: #cfcfcf;
                    font-size: 12px;
                    text-transform: uppercase;
                    text-decoration: none;
                  }
              }

              .field--name-field-team-link {
                display: flex;
                  margin: auto;
                  background-color: #3a3847;
                  width: 99px;
                  height: 30px;
                margin-bottom: 25px;
                  a {
                    margin: auto;
                    text-transform: uppercase;
                    color: white;
                    text-decoration: none;
                  }

                a:hover {
                  opacity: 0.7;
                }
              }

              .block-extra-field-blocknodeour-teamflag-like {
                float: right;
                margin-top: -22px;
                margin-right: 50px;

                .action-unflag {
                  background-image: url("../images/heart-inactive.png");
                    display: block;
                    height: 15px;
                    width: 16px;
                    font-size: 10px;  a{ opacity: 0;
                }
                }

                .action-flag {
                    background-image: url("../images/heart-active.png");
                    display: block;
                    height: 15px;
                    width: 16px;
                    font-size: 10px;  a{ opacity: 0;
                }
                  }
              }
              .views-field-nothing {
                display: flex;

                .field-content {
                  margin: -23px 0 0 45px;

                  a:hover {
                    color: white;
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.block-views-blockour-team-block-1 {
  .block-title {
    margin: 95px auto 30px auto;
    font-size: 34px;
    font-weight: 800;
    text-transform: uppercase;

    &:before, &:after {
      background-color: #cfcfcf;
      content: '';
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 28%;
    }

    &::before {
      right: 0.5em;
      margin-left: -50%;
    }

    &::after {
      left: 0.5em;
      margin-right: -50%;
    }
  }
}

@media (max-width: 991px) {
  .block-views-blockteam-block-1 {
    .form-group {
      .view-display-id-block_1 {
        .view-content {
          .views-view-grid {
            .card-deck {
              .card {
                width: 300px;
                margin-bottom: 20px;
                box-shadow: 3px 5px 16px grey;
                padding: 0 0 15px 0;

                .views-field-field-photo {
                  .field-content {
                    img {
                      width: 100%;
                      height: 315px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 500px) {
  .block-views-blockteam-block-1 {
    .block-title {
      &:before, &:after {
        width: 20%;
      }
    }
  }
}

@media (max-width: 444px) {
  .block-views-blockteam-block-1 {
    .block-title {
      &:before, &:after {
        width: 15%;
      }
    }
  }
}

@media (max-width: 1239px) {
  .block-views-blockteam-block-1 {
    .form-group {
      .view-display-id-block_1 {
        .view-content {
          .views-view-grid {
            .card-deck {
              .card {
                width: 223px;
                margin-bottom: 20px;

                .views-field-field-photo {
                  .field-content {
                    img {
                      height: 223px;
                    }
                  }
                }

                .views-field-title {
                  .field-content {

                    a {
                      font-size: 20px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
