.navbar {
  margin: 0;
  padding: 0;
  background: url("http://drupal9.docksal/themes/custom/examm/images/header.png");
  width: 100%;
  height: 698px;
  background-size: cover;
  background-repeat: no-repeat; }

.navbar.container {
  max-width: 100%; }

.navbar.container {
  max-width: 100%; }

.navbar-header {
  background-color: #3a3946; }

.navbar-wrapper {
  margin: 38px auto;
  display: flex;
  box-shadow: 0 15px 26px -13px; }

.navbar-collapse {
  background-color: white; }
  .navbar-collapse .region-navigation-collapsible {
    margin-top: 0px; }
    .navbar-collapse .region-navigation-collapsible .contextual-region .navbar-nav {
      margin-right: 40px;
      margin-top: 26px; }
      .navbar-collapse .region-navigation-collapsible .contextual-region .navbar-nav li {
        font-size: 12px;
        padding: 10px 0; }
        .navbar-collapse .region-navigation-collapsible .contextual-region .navbar-nav li a {
          padding: 10px 11px;
          margin: 0; }

.block-views-blocksocial-links-block-1 .block-title {
  display: none; }

.navbar-text {
  margin-top: 28px;
  font-size: 14px;
  margin-left: -123px; }

.header_block {
  display: flex;
  flex-direction: column;
  height: 109px;
  width: 227px;
  background-color: #0c0d0e; }
  .header_block .navbar-brand {
    font-size: 36px;
    margin: auto;
    color: #6e9bc6;
    padding: 30px 0 0 0;
    height: auto;
    font-weight: 600; }
  .header_block .navbar-text {
    padding-bottom: 21px;
    color: #d9d9d9;
    margin: auto;
    font-size: 16px; }

.view-content {
  display: flex; }

.social-media-links--platforms {
  display: flex; }

.region-navigation-collapsible {
  display: flex; }

header {
  display: flex;
  flex-direction: column; }

.icon-only {
  border-radius: 0;
  background-color: white;
  border-color: #cecece; }

.glyphicon-search {
  color: #cecece; }

.form-search {
  border-radius: 0; }

.form-type-search {
  margin: 0 15px;
  width: 200px; }

.contextual-region ul li {
  text-transform: uppercase; }

.social-links .content ul li {
  margin: 10px 5px; }

.social-media-link-icon--facebook {
  background-color: #7498c8;
  color: white;
  display: block;
  width: 25px;
  height: 25px; }
  .social-media-link-icon--facebook .fa {
    padding: 2px 6px;
    font-size: 22px; }

.social-media-link-icon--twitter {
  background-color: #7498c8;
  color: white;
  display: block;
  width: 25px;
  height: 25px; }
  .social-media-link-icon--twitter .fa {
    padding: 2px 3px;
    font-size: 22px; }

.social-media-link-icon--linkedin {
  background-color: #7498c8;
  color: white;
  display: block;
  width: 25px;
  height: 25px; }
  .social-media-link-icon--linkedin .fa {
    padding: 2px 3px;
    font-size: 22px; }

/*text on the picture*/
.block-for-title-header {
  position: relative;
  left: 24%;
  top: 12%;
  width: 500px; }

.big-title-header {
  text-transform: uppercase;
  font-size: 70px;
  color: white;
  margin-bottom: 14px; }

.dark-title-header {
  text-transform: uppercase;
  font-size: 42px;
  margin-top: -42px; }

.small-title-header {
  text-transform: uppercase;
  color: #739ec7;
  margin-top: -15px; }

/*end text on the picture*/
.block-views-blocksocial-links-block-1 {
  display: flex; }
  .block-views-blocksocial-links-block-1 .form-group {
    margin: auto; }

.social-media-links--platforms {
  margin: auto; }

.block-search-form-block {
  display: flex; }
  .block-search-form-block form {
    margin: auto; }

.view-display-id-block_1 {
  display: flex;
  flex-direction: column; }
  .view-display-id-block_1 .view-content {
    margin: auto; }

/*blue line*/
.navbar-nav {
  /*end blue line*/
  /*home picture*/ }
  .navbar-nav li a {
    padding: 0;
    margin: 0 14px; }
    .navbar-nav li a:hover:after {
      display: block;
      position: absolute;
      content: "";
      height: 5px;
      width: 100%;
      background-color: #7498c8;
      transform: translate(0, 38px);
      margin-left: -10px; }
  .navbar-nav li .is-active:after {
    display: block;
    position: absolute;
    content: "";
    height: 5px;
    width: 100%;
    background-color: #7498c8;
    transform: translate(0, 38px);
    margin-left: -10px; }
  .navbar-nav li:first-child {
    background: no-repeat center/50% url("../images/Homepage-menu.png"); }
    .navbar-nav li:first-child a {
      color: rgba(255, 0, 0, 0); }
    .navbar-nav li:first-child a:hover {
      color: rgba(255, 0, 0, 0); }
  .navbar-nav li:first-child:hover {
    background: no-repeat center/70% url("../images/Homepage-menu.png");
    transition: all 0.2s ease-out; }

/*end home picture*/
@media (max-width: 1197px) {
  header .navbar-wrapper {
    margin: 0 auto;
    width: 100%; }
    header .navbar-wrapper .navbar-header {
      display: flex; }
      header .navbar-wrapper .navbar-header .region-navigation {
        margin: auto; }
    header .navbar-wrapper .navbar-collapse {
      width: 100%; }
      header .navbar-wrapper .navbar-collapse .region-navigation-collapsible .contextual-region .navbar-nav li a {
        padding: 10px 4px; }
        header .navbar-wrapper .navbar-collapse .region-navigation-collapsible .contextual-region .navbar-nav li a:hover:after {
          display: none; }
      header .navbar-wrapper .navbar-collapse .region-navigation-collapsible .contextual-region .navbar-nav li a:after {
        margin-left: -4px; }
      header .navbar-wrapper .navbar-collapse .region-navigation-collapsible .contextual-region .navbar-nav li .is-active:after {
        display: none; }
      header .navbar-wrapper .navbar-collapse .region-navigation-collapsible .contextual-region .navbar-nav .first {
        padding: 10px 6px 0 6px; } }
@media (max-width: 1095px) {
  header .navbar-wrapper {
    margin: 0 auto;
    flex-direction: column; }
    header .navbar-wrapper .navbar-collapse {
      width: 100%; }
      header .navbar-wrapper .navbar-collapse .region-navigation-collapsible {
        margin: 26px auto 23px;
        display: flex; }
        header .navbar-wrapper .navbar-collapse .region-navigation-collapsible nav {
          margin: auto; } }
@media (max-width: 868px) {
  .navbar {
    height: auto; }

  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block;
    height: 40px;
    margin: auto; }

  .navbar-collapse {
    border-top: 1px solid transparent; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }
    .navbar-nav li:first-child:hover {
      background: no-repeat center/50% url("../images/Homepage-menu.png"); }

  .collapse.in {
    display: block !important; }

  header .navbar-wrapper {
    width: 100%; }
    header .navbar-wrapper .navbar-collapse {
      padding: 0; }
      header .navbar-wrapper .navbar-collapse .region-navigation-collapsible {
        margin: 0;
        display: flex;
        flex-direction: column; }
        header .navbar-wrapper .navbar-collapse .region-navigation-collapsible .block-search-form-block form {
          margin: 20px auto; }
        header .navbar-wrapper .navbar-collapse .region-navigation-collapsible .contextual-region .menu {
          margin: 0;
          display: flex;
          flex-direction: column; }
          header .navbar-wrapper .navbar-collapse .region-navigation-collapsible .contextual-region .menu li {
            margin: 0 auto;
            padding: 0; }
            header .navbar-wrapper .navbar-collapse .region-navigation-collapsible .contextual-region .menu li a:hover:after {
              transform: translate(0, 5px); }
            header .navbar-wrapper .navbar-collapse .region-navigation-collapsible .contextual-region .menu li .is-active:after {
              transform: translate(0, 13px); }
  header .block-for-title-header {
    margin: 211px auto;
    width: auto;
    position: static; }
    header .block-for-title-header .big-title-header {
      text-align: center; }
    header .block-for-title-header .dark-title-header {
      text-align: center; }
    header .block-for-title-header .small-title-header {
      text-align: center; } }
@media (max-width: 450px) {
  header .block-for-title-header {
    margin: 211px auto;
    width: auto;
    position: static; }
    header .block-for-title-header .big-title-header {
      text-align: center;
      font-size: 48px; }
    header .block-for-title-header .dark-title-header {
      text-align: center;
      font-size: 31px; }
    header .block-for-title-header .small-title-header {
      text-align: center;
      font-size: 11px; } }
.block-views-blockabout-block-1 {
  display: flex; }
  .block-views-blockabout-block-1 .form-group {
    margin: auto; }

.block-views-blockabout-block-1 .block-title {
  display: none; }
.block-views-blockabout-block-1 .form-group .view-display-id-block_1:before, .block-views-blockabout-block-1 .form-group .view-display-id-block_1:after {
  content: '';
  display: inline-block;
  height: 5px;
  position: relative;
  vertical-align: bottom;
  width: 100%; }
.block-views-blockabout-block-1 .form-group .view-display-id-block_1::before {
  top: 104px;
  background-color: black; }
.block-views-blockabout-block-1 .form-group .view-display-id-block_1::after {
  bottom: 66px;
  background-color: #6e9bc6; }
.block-views-blockabout-block-1 .form-group .view-display-id-block_1 .view-content .views-row {
  margin: 120px 0 78px; }
  .block-views-blockabout-block-1 .form-group .view-display-id-block_1 .view-content .views-row .views-field-title {
    margin-top: -7px; }
  .block-views-blockabout-block-1 .form-group .view-display-id-block_1 .view-content .views-row .views-field-field-about-text {
    margin-right: 59px;
    margin-left: 14px; }
    .block-views-blockabout-block-1 .form-group .view-display-id-block_1 .view-content .views-row .views-field-field-about-text .field-content {
      margin: auto;
      text-transform: uppercase;
      color: #cecece;
      font-size: 20px; }
  .block-views-blockabout-block-1 .form-group .view-display-id-block_1 .view-content .views-row .views-field-title .field-content a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 29px; }
  .block-views-blockabout-block-1 .form-group .view-display-id-block_1 .view-content .views-row .views-field-field-about-link {
    width: 109px;
    height: 29px;
    background-color: #6e9bc6;
    display: flex; }
    .block-views-blockabout-block-1 .form-group .view-display-id-block_1 .view-content .views-row .views-field-field-about-link .field-content {
      margin: auto; }
      .block-views-blockabout-block-1 .form-group .view-display-id-block_1 .view-content .views-row .views-field-field-about-link .field-content a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 13px; }
  .block-views-blockabout-block-1 .form-group .view-display-id-block_1 .view-content .views-row .views-field-field-about-link:hover {
    opacity: 0.7; }

@media (max-width: 1242px) {
  .block-views-blockabout-block-1 .form-group .view-display-id-block_1 .view-content .views-row .views-field-field-about-text {
    margin-right: 14px;
    margin-left: 14px; } }
@media (max-width: 1100px) {
  .block-views-blockabout-block-1 .form-group .view-display-id-block_1 .views-row {
    flex-direction: column; }
    .block-views-blockabout-block-1 .form-group .view-display-id-block_1 .views-row .views-field-title {
      margin: auto; }
    .block-views-blockabout-block-1 .form-group .view-display-id-block_1 .views-row .views-field-field-about-text {
      margin: auto;
      text-align: center; }
    .block-views-blockabout-block-1 .form-group .view-display-id-block_1 .views-row .views-field-field-about-link {
      margin: auto; } }
.block-views-blockservices--block-10 {
  width: 66%;
  margin: 0 auto 73px; }
  .block-views-blockservices--block-10 .block-title {
    text-transform: uppercase;
    margin-bottom: 85px;
    font-weight: 700; }
    .block-views-blockservices--block-10 .block-title:before, .block-views-blockservices--block-10 .block-title:after {
      background-color: #cfcfcf;
      content: '';
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 40%; }
    .block-views-blockservices--block-10 .block-title::before {
      right: 0.5em;
      margin-left: -50%; }
    .block-views-blockservices--block-10 .block-title::after {
      left: 0.5em;
      margin-right: -50%; }
  .block-views-blockservices--block-10 .form-group {
    margin: auto; }
    .block-views-blockservices--block-10 .form-group .view-display-id-block_10 .view-content .views-view-grid .views-row .views-col .views-field-field-services-image .field-content img {
      margin: 0 auto 30px; }
    .block-views-blockservices--block-10 .form-group .view-display-id-block_10 .view-content .views-view-grid .views-row .views-col .views-field-field-services-taxonomy {
      display: flex; }
      .block-views-blockservices--block-10 .form-group .view-display-id-block_10 .view-content .views-view-grid .views-row .views-col .views-field-field-services-taxonomy .field-content {
        margin: 0 auto 6px; }
        .block-views-blockservices--block-10 .form-group .view-display-id-block_10 .view-content .views-view-grid .views-row .views-col .views-field-field-services-taxonomy .field-content a {
          margin: auto;
          text-transform: uppercase;
          color: #3d3d42;
          font-size: 22px;
          text-decoration: none; }
    .block-views-blockservices--block-10 .form-group .view-display-id-block_10 .view-content .views-view-grid .views-row .views-col .views-field-field-services-link .field-content {
      background-color: #6e9bc6;
      width: 93px;
      height: 28px;
      display: flex;
      margin: auto; }
      .block-views-blockservices--block-10 .form-group .view-display-id-block_10 .view-content .views-view-grid .views-row .views-col .views-field-field-services-link .field-content a {
        margin: auto;
        text-transform: uppercase;
        color: white;
        text-decoration: none; }
    .block-views-blockservices--block-10 .form-group .view-display-id-block_10 .view-content .views-view-grid .views-row .views-col .views-field-field-services-link .field-content:hover {
      opacity: 0.7; }
    .block-views-blockservices--block-10 .form-group .view-display-id-block_10 .view-content .views-view-grid .views-row .views-col .views-field-field-services-text .field-content {
      text-align: center;
      padding: 0 13px;
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 22px;
      color: #cecece; }

.main-container .region-content .views-element-container .view-display-id-page_1 .view-content {
  flex-direction: column; }
  .main-container .region-content .views-element-container .view-display-id-page_1 .view-content .views-row .views-field-title .field-content a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px; }

@media (max-width: 1561px) {
  .block-views-blockservices-block-1 {
    width: 80%; } }
@media (max-width: 1300px) {
  .block-views-blockservices-block-1 {
    width: auto; } }
@media (max-width: 1199px) {
  .block-views-blockservices-block-1 {
    width: auto; }
    .block-views-blockservices-block-1 .form-group .view-id-services .view-content .card .views-field-view-node {
      margin: 0 auto 40px; } }
@media (max-width: 1030px) {
  .block-views-blockservices-block-1 {
    width: auto; } }
@media (max-width: 991px) {
  .block-views-blockservices-block-1 .block-title:before, .block-views-blockservices-block-1 .block-title:after {
    width: 27%; }
  .block-views-blockservices-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .card-deck .card {
    width: auto; } }
@media (max-width: 444px) {
  .block-views-blockservices-block-1 .block-title:before, .block-views-blockservices-block-1 .block-title:after {
    width: 20%; } }
.block-views-blockprojects-block-1 .block-title {
  margin-bottom: 21px;
  text-transform: uppercase; }
  .block-views-blockprojects-block-1 .block-title:before, .block-views-blockprojects-block-1 .block-title:after {
    background-color: #cfcfcf;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 27%; }
  .block-views-blockprojects-block-1 .block-title::before {
    right: 0.5em;
    margin-left: -50%; }
  .block-views-blockprojects-block-1 .block-title::after {
    left: 0.5em;
    margin-right: -50%; }
.block-views-blockprojects-block-1 .form-group {
  background: repeating-linear-gradient(-45deg, grey, #fff 1px, #fff 8px);
  padding-top: 69px; }
  .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row {
    column-gap: 28px; }
    .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col {
      border-bottom: 1px solid #5a5965;
      background-color: white;
      padding: 0;
      margin-right: 20px;
      max-width: 290px; }
      .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-title {
        margin-top: 30px;
        display: flex; }
        .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-title .field-content {
          margin: auto; }
          .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-title .field-content a {
            font-size: 24px;
            text-transform: uppercase;
            text-decoration: none;
            color: #464452; }
      .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-field-project-image .field-content img {
        width: 100%; }
      .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-field-project-taxonomy {
        display: flex; }
        .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-field-project-taxonomy .field-content {
          margin: 6px auto 20px; }
          .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-field-project-taxonomy .field-content a {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600; }
          .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-field-project-taxonomy .field-content a[href="/taxonomy/term/4"] {
            color: #58cab2; }
          .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-field-project-taxonomy .field-content a[href="/taxonomy/term/2"] {
            color: #995db1; }
          .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-field-project-taxonomy .field-content a[href="/taxonomy/term/3"] {
            color: #e65047; }
          .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-field-project-taxonomy .field-content a[href="/taxonomy/term/1"] {
            color: #65c0e5; }
      .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-field-project-link {
        display: flex; }
        .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-field-project-link .field-content {
          margin: 0 auto 10px auto;
          display: flex;
          width: 71px;
          height: 30px;
          background-color: #3a3946; }
          .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-field-project-link .field-content a {
            margin: auto;
            text-transform: uppercase;
            color: white;
            text-decoration: none; }
        .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-field-project-link .field-content:hover {
          opacity: 0.7; }
    .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .card:last-child {
      margin-right: 0; }
  .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .pager-nav {
    margin: 27px auto 127px; }
    .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .pager-nav .pagination .pager__item a {
      border-width: 0;
      color: #555555;
      background-color: rgba(0, 0, 0, 0); }
    .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .pager-nav .pagination .is-active a {
      background-color: #cecece;
      border-radius: 50%;
      border-width: 0;
      color: #555555; }
    .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .pager-nav .pagination .is-active a:active {
      font-weight: 700; }

@media (max-width: 1200px) {
  .view-display-id-block_1 .view-content .views-view-grid .card-deck .card {
    width: 25%; } }
@media (max-width: 991px) {
  .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .card-deck .card {
    width: auto;
    margin-bottom: 20px;
    box-shadow: 3px 5px 16px grey;
    margin-right: 0; } }
@media (max-width: 1239px) {
  .block-views-blockprojects-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .card-deck .card {
    width: 223px;
    margin-bottom: 20px; } }
@media (max-width: 444px) {
  .block-views-blockprojects-block-1 .block-title:before, .block-views-blockprojects-block-1 .block-title:after {
    width: 20%; } }
.card .views-field-field-photo img {
  width: 290px;
  height: 290px;
  filter: grayscale(100%); }

.card:hover .views-field-field-photo img {
  filter: grayscale(0%);
  transition: all 0.8s ease-out; }

.block-views-blockour-team-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row {
  column-gap: 28px; }
  .block-views-blockour-team-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .block-field-blocknodeour-teamtitle {
    display: flex;
    margin: 34px auto 0; }
    .block-views-blockour-team-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .block-field-blocknodeour-teamtitle span {
      margin: auto; }
      .block-views-blockour-team-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .block-field-blocknodeour-teamtitle span a {
        text-transform: uppercase;
        color: #3a3847;
        font-size: 24px;
        text-decoration: none; }
  .block-views-blockour-team-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .field--name-field-team-taxonomy {
    display: flex; }
    .block-views-blockour-team-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .field--name-field-team-taxonomy a {
      margin: -4px auto 17px;
      color: #cfcfcf;
      font-size: 12px;
      text-transform: uppercase;
      text-decoration: none; }
  .block-views-blockour-team-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .field--name-field-team-link {
    display: flex;
    margin: auto;
    background-color: #3a3847;
    width: 99px;
    height: 30px; }
    .block-views-blockour-team-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .field--name-field-team-link a {
      margin: auto;
      text-transform: uppercase;
      color: white;
      text-decoration: none; }
    .block-views-blockour-team-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .field--name-field-team-link a:hover {
      opacity: 0.7; }
  .block-views-blockour-team-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .block-extra-field-blocknodeour-teamflag-like {
    float: right;
    margin-top: -22px;
    margin-right: 50px; }
    .block-views-blockour-team-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .block-extra-field-blocknodeour-teamflag-like .action-unflag {
      background-image: url("../images/heart-inactive.png");
      display: block;
      height: 15px;
      width: 16px;
      font-size: 10px; }
      .block-views-blockour-team-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .block-extra-field-blocknodeour-teamflag-like .action-unflag a {
        opacity: 0; }
    .block-views-blockour-team-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .block-extra-field-blocknodeour-teamflag-like .action-flag {
      background-image: url("../images/heart-active.png");
      display: block;
      height: 15px;
      width: 16px;
      font-size: 10px; }
      .block-views-blockour-team-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .block-extra-field-blocknodeour-teamflag-like .action-flag a {
        opacity: 0; }
  .block-views-blockour-team-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-nothing {
    display: flex; }
    .block-views-blockour-team-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-nothing .field-content {
      margin: -23px 0 0 45px; }
      .block-views-blockour-team-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-nothing .field-content a:hover {
        color: white;
        text-decoration: none; }

.block-views-blockour-team-block-1 .block-title {
  margin: 95px auto 30px auto;
  font-size: 34px;
  font-weight: 800;
  text-transform: uppercase; }
  .block-views-blockour-team-block-1 .block-title:before, .block-views-blockour-team-block-1 .block-title:after {
    background-color: #cfcfcf;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 28%; }
  .block-views-blockour-team-block-1 .block-title::before {
    right: 0.5em;
    margin-left: -50%; }
  .block-views-blockour-team-block-1 .block-title::after {
    left: 0.5em;
    margin-right: -50%; }

@media (max-width: 991px) {
  .block-views-blockteam-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .card-deck .card {
    width: 300px;
    margin-bottom: 20px;
    box-shadow: 3px 5px 16px grey;
    padding: 0 0 15px 0; }
    .block-views-blockteam-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .card-deck .card .views-field-field-photo .field-content img {
      width: 100%;
      height: 315px; } }
@media (max-width: 500px) {
  .block-views-blockteam-block-1 .block-title:before, .block-views-blockteam-block-1 .block-title:after {
    width: 20%; } }
@media (max-width: 444px) {
  .block-views-blockteam-block-1 .block-title:before, .block-views-blockteam-block-1 .block-title:after {
    width: 15%; } }
@media (max-width: 1239px) {
  .block-views-blockteam-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .card-deck .card {
    width: 223px;
    margin-bottom: 20px; }
    .block-views-blockteam-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .card-deck .card .views-field-field-photo .field-content img {
      height: 223px; }
    .block-views-blockteam-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .card-deck .card .views-field-title .field-content a {
      font-size: 20px; } }
.block-views-blocknews-block-1 .block-title {
  margin-top: 191px;
  margin-bottom: 22px;
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase; }
  .block-views-blocknews-block-1 .block-title:before, .block-views-blocknews-block-1 .block-title:after {
    background-color: #cfcfcf;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 28%; }
  .block-views-blocknews-block-1 .block-title::before {
    right: 0.5em;
    margin-left: -50%; }
  .block-views-blocknews-block-1 .block-title::after {
    left: 0.5em;
    margin-right: -50%; }
.block-views-blocknews-block-1 .form-group {
  background: repeating-linear-gradient(-45deg, grey, #fff 1px, #fff 8px); }
  .block-views-blocknews-block-1 .form-group .view-filters {
    width: 1254px;
    margin: 21px auto 15px; }
    .block-views-blocknews-block-1 .form-group .view-filters .views-exposed-form .control-label {
      display: none; }
    .block-views-blocknews-block-1 .form-group .view-filters .views-exposed-form .form-text {
      width: 340px; }
  .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content {
    width: 1258px;
    margin-bottom: 80px; }
    .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row {
      display: flex; }
      .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col {
        background-color: white;
        padding: 0px 17px;
        width: 50%;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin-right: 28px; }
        .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset .field-content {
          padding-left: 10px; }
          .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset .field-content div .views-field-created-1 {
            display: flex; }
            .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset .field-content div .views-field-created-1 span {
              margin: -13px 0 0 -12px;
              padding: 5px;
              display: flex;
              flex-direction: column; }
              .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset .field-content div .views-field-created-1 span p:first-child {
                font-size: 23px;
                margin: -1px 0 -17px 0;
                text-transform: uppercase;
                color: grey;
                font-weight: 200; }
              .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset .field-content div .views-field-created-1 span p {
                font-size: 44px;
                font-weight: 600;
                color: #7498c8; }
              .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset .field-content div .views-field-created-1 span p:last-child {
                margin: -20px auto 0;
                font-size: 12px;
                color: lightgrey; }
        .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset-1 {
          padding-left: 20px;
          border-left: 1px solid #cfcfcf;
          margin: -82px 0 0 48px; }
          .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset-1 fieldset {
            display: flex;
            margin-top: -6px; }
            .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset-1 fieldset .views-field-field-news-image {
              margin-top: 6px; }
              .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset-1 fieldset .views-field-field-news-image .field-content img {
                width: 78px;
                height: 78px; }
            .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset-1 fieldset .views-field-uid {
              margin-top: -2px; }
              .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset-1 fieldset .views-field-uid span {
                text-transform: uppercase;
                color: lightgray;
                margin-left: 12px;
                font-size: 13px;
                letter-spacing: -0.8px; }
            .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset-1 fieldset .views-field-field-news-name .field-content {
              text-transform: uppercase;
              margin-left: 4px;
              font-size: 13px;
              letter-spacing: -0.8px; }
            .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset-1 fieldset .views-field-field-news-term {
              margin-left: 4px;
              font-size: 13px; }
              .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset-1 fieldset .views-field-field-news-term a {
                letter-spacing: -0.8px; }
            .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset-1 fieldset .views-field-created {
              margin-left: auto;
              font-size: 13px;
              color: #cfcfcf; }
              .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset-1 fieldset .views-field-created .field-content {
                text-transform: uppercase; }
        .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset-2 {
          margin: 23px 0 17px 48px;
          border-left: 1px solid #cfcfcf;
          padding-left: 20px; }
          .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset-2 .field-content fieldset .views-field-title {
            margin-bottom: 13px; }
            .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset-2 .field-content fieldset .views-field-title .field-content a {
              text-transform: uppercase;
              font-size: 24px;
              margin-bottom: 13px;
              color: #3a3847; }
          .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset-2 .field-content fieldset .views-field-field-news-link .field-content {
            margin: -6px 0 0 auto;
            background-color: #3a3847;
            width: 99px;
            height: 30px;
            display: flex; }
            .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset-2 .field-content fieldset .views-field-field-news-link .field-content a {
              margin: auto;
              text-transform: uppercase;
              color: white;
              text-decoration: none; }
          .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset-2 .field-content fieldset .views-field-field-news-link .field-content:hover {
            opacity: 0.7; }
          .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-fieldset-2 .field-content fieldset .views-field-field-news-text .field-content {
            margin: -4px auto 17px;
            color: #3a3847;
            font-size: 11px;
            text-transform: uppercase;
            text-align: justify; }
        .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-title .field-content a {
          text-transform: uppercase;
          font-size: 24px;
          margin-bottom: 13px;
          color: #3a3847; }
        .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-field-news-term .field-content {
          text-transform: uppercase; }
          .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-field-news-term .field-content a {
            text-decoration: none;
            font-size: 12px; }
        .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-field-news-link {
          display: flex; }
          .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-field-news-link .field-content {
            margin-left: auto; }
        .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .views-col .views-field-field-news-text .field-content {
          color: #3a3847;
          font-size: 11px; }
      .block-views-blocknews-block-1 .form-group .view-display-id-block_1 .view-content .views-view-grid .views-row .card:last-child {
        margin-right: 0; }

@media (max-width: 1260px) {
  .block-views-blocknews-block-1 .form-group .view-id-news .view-filters {
    width: auto;
    margin: 21px auto 15px 7px; } }
@media (max-width: 767px) {
  .block-views-blocknews-block-1 .form-group .view-id-news .view-filters {
    width: auto;
    margin: 11px auto; }
    .block-views-blocknews-block-1 .form-group .view-id-news .view-filters .views-exposed-form .form-item-field-title-news-value input {
      width: 300px; }
    .block-views-blocknews-block-1 .form-group .view-id-news .view-filters .views-exposed-form .form-actions {
      display: flex; }
      .block-views-blocknews-block-1 .form-group .view-id-news .view-filters .views-exposed-form .form-actions button {
        margin: 0 0 0 auto; } }
@media (max-width: 991px) {
  .block-views-blocknews-block-1 .block-title {
    margin-top: 100px; } }
@media (max-width: 1258px) {
  .block-views-blocknews-block-1 .form-group .view-content {
    width: auto;
    margin: 0 20px; }
    .block-views-blocknews-block-1 .form-group .view-content .views-view-grid .card-deck {
      display: flex;
      flex-direction: column; }
      .block-views-blocknews-block-1 .form-group .view-content .views-view-grid .card-deck .card {
        margin: 0 auto 20px;
        height: auto;
        box-shadow: 3px 5px 16px grey; }
      .block-views-blocknews-block-1 .form-group .view-content .views-view-grid .card-deck .card:last-child {
        margin: 0 auto 20px;
        height: auto; } }
@media (max-width: 985px) {
  .block-views-blocknews-block-1 .form-group .view-content .views-view-grid .card-deck .card fieldset {
    flex-direction: column; }
    .block-views-blocknews-block-1 .form-group .view-content .views-view-grid .card-deck .card fieldset .views-field-field-proffesion {
      margin-left: 0; }
    .block-views-blocknews-block-1 .form-group .view-content .views-view-grid .card-deck .card fieldset .views-field-created-1 {
      margin: -147px 0 134px auto; } }
@media (max-width: 636px) {
  .block-views-blocknews-block-1 .form-group .view-content {
    margin: 0 auto; }
    .block-views-blocknews-block-1 .form-group .view-content .views-view-grid .card-deck .card {
      width: 300px; }
    .block-views-blocknews-block-1 .form-group .view-content .views-view-grid .card-deck .card:last-child {
      width: 300px; } }
body {
  margin: 0; }

.main-container .col-sm-12 {
  padding: 0; }

.block-title {
  text-align: center; }

.views-row {
  display: flex; }

.fa-twitter {
  font-size: 22px;
  background-color: #7498c8;
  color: white;
  width: 25px;
  height: 25px;
  padding: 2px 3px;
  margin-right: 9px; }

.fa-facebook {
  font-size: 22px;
  background-color: #7498c8;
  color: white;
  width: 25px;
  height: 25px;
  padding: 2px 6px;
  margin-right: 9px; }

.fa-linkedin {
  font-size: 22px;
  background-color: #7498c8;
  color: white;
  width: 25px;
  height: 25px;
  padding: 2px 3px;
  margin-right: 9px; }

.ajax-progress {
  display: none; }

.ajax-progress-throbber {
  display: none; }

#backtotop {
  background-size: 50px 50px; }

@media (min-width: 768px) {
  .container {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
