footer {
  background-color: #3a3946;

  .region-footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

.block-views-blockfooter-text-block-1 {
  .block-title {
    display: none;
  }

  .form-group {
    .view-content {
      .views-row {
        .content {
          .field--name-field-text2 {

            font-size: 36px;
            margin: auto;
            color: #6e9bc6;
            height: auto;
          }

          .field--item:last-child {
            color: #d9d9d9;
            margin: auto;
            font-size: 16px;
          }
        }
      }
    }
  }
}

.footer {
  margin: 0;
}
