@import "header.scss";
@import "footer.scss";
@import "about.scss";
@import "services.scss";
@import "projects.scss";
@import "team.scss";
@import "news.scss";
@import "contact.scss";
@import "clients.scss";

body {
  margin: 0;
}

.main-container {
  .col-sm-12 {
    padding: 0;
  }
}

.block-title {
  text-align: center;
}

.views-row {
  display: flex;
  .views-field-title{
    .field-content{
      font-size: 30px;

    }
  }
}

.fa-twitter {
  font-size: 22px;
  background-color: #7498c8;
  color: white;
  width: 25px;
  height: 25px;
  padding: 2px 3px;
  margin-right: 9px;
}

.fa-facebook {
  font-size: 22px;
  background-color: #7498c8;
  color: white;
  width: 25px;
  height: 25px;
  padding: 2px 6px;
  margin-right: 9px;
}

.fa-linkedin {
  font-size: 22px;
  background-color: #7498c8;
  color: white;
  width: 25px;
  height: 25px;
  padding: 2px 3px;
  margin-right: 9px;
}

.ajax-progress {
  display: none;
}

.ajax-progress-throbber {
  display: none;
}

#backtotop {
  background-size: 50px 50px;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}



