.navbar {
  margin: 0;
  padding: 0;
  background: url("http://drupal9.docksal/themes/custom/examm/images/header.png");
  width: 100%;
  height: 698px;
  background-size: cover;
  background-repeat: no-repeat; }

.navbar.container {
  max-width: 100%; }

.navbar.container {
  max-width: 100%; }

.navbar-header {
  background-color: #3a3946; }

.navbar-wrapper {
  margin: 38px auto;
  display: flex;
  box-shadow: 0 15px 26px -13px; }

.navbar-collapse {
  background-color: white; }
  .navbar-collapse .region-navigation-collapsible {
    margin-top: 26px; }
    .navbar-collapse .region-navigation-collapsible .contextual-region .navbar-nav {
      margin-right: 40px; }
      .navbar-collapse .region-navigation-collapsible .contextual-region .navbar-nav li {
        font-size: 12px;
        padding: 10px 0; }
        .navbar-collapse .region-navigation-collapsible .contextual-region .navbar-nav li a {
          padding: 10px 11px;
          margin: 0; }

.block-views-blocksocial-links-block-1 .block-title {
  display: none; }

.navbar-text {
  margin-top: 28px;
  font-size: 14px;
  margin-left: -123px; }

.header_block {
  display: flex;
  flex-direction: column;
  height: 109px;
  width: 227px;
  background-color: #0c0d0e; }
  .header_block .navbar-brand {
    font-size: 36px;
    margin: auto;
    color: #6e9bc6;
    padding: 30px 0 0 0;
    height: auto;
    font-weight: 600; }
  .header_block .navbar-text {
    padding-bottom: 21px;
    color: #d9d9d9;
    margin: auto;
    font-size: 16px; }

.view-content {
  display: flex; }

.social-media-links--platforms {
  display: flex; }

.region-navigation-collapsible {
  display: flex; }

header {
  display: flex;
  flex-direction: column; }

.icon-only {
  border-radius: 0;
  background-color: white;
  border-color: #cecece; }

.glyphicon-search {
  color: #cecece; }

.form-search {
  border-radius: 0; }

.form-type-search {
  margin: 0 15px;
  width: 200px; }

.contextual-region ul li {
  text-transform: uppercase; }

.social-links .content ul li {
  margin: 10px 5px; }

.social-media-link-icon--facebook {
  background-color: #7498c8;
  color: white;
  display: block;
  width: 25px;
  height: 25px; }
  .social-media-link-icon--facebook .fa {
    padding: 2px 6px;
    font-size: 22px; }

.social-media-link-icon--twitter {
  background-color: #7498c8;
  color: white;
  display: block;
  width: 25px;
  height: 25px; }
  .social-media-link-icon--twitter .fa {
    padding: 2px 3px;
    font-size: 22px; }

.social-media-link-icon--linkedin {
  background-color: #7498c8;
  color: white;
  display: block;
  width: 25px;
  height: 25px; }
  .social-media-link-icon--linkedin .fa {
    padding: 2px 3px;
    font-size: 22px; }

/*text on the picture*/
.block-for-title-header {
  position: relative;
  left: 24%;
  top: 12%;
  width: 500px; }

.big-title-header {
  text-transform: uppercase;
  font-size: 70px;
  color: white;
  margin-bottom: 14px; }

.dark-title-header {
  text-transform: uppercase;
  font-size: 42px;
  margin-top: -42px; }

.small-title-header {
  text-transform: uppercase;
  color: #739ec7;
  margin-top: -15px; }

/*end text on the picture*/
.block-views-blocksocial-links-block-1 {
  display: flex; }
  .block-views-blocksocial-links-block-1 .form-group {
    margin: auto; }

.social-media-links--platforms {
  margin: auto; }

.block-search-form-block {
  display: flex; }
  .block-search-form-block form {
    margin: auto; }

.view-display-id-block_1 {
  display: flex;
  flex-direction: column; }
  .view-display-id-block_1 .view-content {
    margin: auto; }

/*blue line*/
.navbar-nav {
  /*end blue line*/
  /*home picture*/ }
  .navbar-nav li a {
    padding: 0;
    margin: 0 14px; }
    .navbar-nav li a:hover:after {
      display: block;
      position: absolute;
      content: "";
      height: 5px;
      width: 100%;
      background-color: #7498c8;
      transform: translate(0, 38px);
      margin-left: -10px; }
  .navbar-nav li .is-active:after {
    display: block;
    position: absolute;
    content: "";
    height: 5px;
    width: 100%;
    background-color: #7498c8;
    transform: translate(0, 38px);
    margin-left: -10px; }
  .navbar-nav li:first-child {
    background: no-repeat center/50% url("../images/Homepage-menu.png"); }
    .navbar-nav li:first-child a {
      color: rgba(255, 0, 0, 0); }
    .navbar-nav li:first-child a:hover {
      color: rgba(255, 0, 0, 0); }
  .navbar-nav li:first-child:hover {
    background: no-repeat center/70% url("../images/Homepage-menu.png");
    transition: all 0.2s ease-out; }

/*end home picture*/
@media (max-width: 1197px) {
  header .navbar-wrapper {
    margin: 0 auto;
    width: 100%; }
    header .navbar-wrapper .navbar-header {
      display: flex; }
      header .navbar-wrapper .navbar-header .region-navigation {
        margin: auto; }
    header .navbar-wrapper .navbar-collapse {
      width: 100%; }
      header .navbar-wrapper .navbar-collapse .region-navigation-collapsible .contextual-region .navbar-nav li a {
        padding: 10px 4px; }
        header .navbar-wrapper .navbar-collapse .region-navigation-collapsible .contextual-region .navbar-nav li a:hover:after {
          display: none; }
      header .navbar-wrapper .navbar-collapse .region-navigation-collapsible .contextual-region .navbar-nav li a:after {
        margin-left: -4px; }
      header .navbar-wrapper .navbar-collapse .region-navigation-collapsible .contextual-region .navbar-nav li .is-active:after {
        display: none; }
      header .navbar-wrapper .navbar-collapse .region-navigation-collapsible .contextual-region .navbar-nav .first {
        padding: 10px 6px 0 6px; } }
@media (max-width: 1095px) {
  header .navbar-wrapper {
    margin: 0 auto;
    flex-direction: column; }
    header .navbar-wrapper .navbar-collapse {
      width: 100%; }
      header .navbar-wrapper .navbar-collapse .region-navigation-collapsible {
        margin: 26px auto 23px;
        display: flex; }
        header .navbar-wrapper .navbar-collapse .region-navigation-collapsible nav {
          margin: auto; } }
@media (max-width: 868px) {
  .navbar {
    height: auto; }

  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block;
    height: 40px;
    margin: auto; }

  .navbar-collapse {
    border-top: 1px solid transparent; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }
    .navbar-nav li:first-child:hover {
      background: no-repeat center/50% url("../images/Homepage-menu.png"); }

  .collapse.in {
    display: block !important; }

  header .navbar-wrapper {
    width: 100%; }
    header .navbar-wrapper .navbar-collapse {
      padding: 0; }
      header .navbar-wrapper .navbar-collapse .region-navigation-collapsible {
        margin: 0;
        display: flex;
        flex-direction: column; }
        header .navbar-wrapper .navbar-collapse .region-navigation-collapsible .block-search-form-block form {
          margin: 20px auto; }
        header .navbar-wrapper .navbar-collapse .region-navigation-collapsible .contextual-region .menu {
          margin: 0;
          display: flex;
          flex-direction: column; }
          header .navbar-wrapper .navbar-collapse .region-navigation-collapsible .contextual-region .menu li {
            margin: 0 auto;
            padding: 0; }
            header .navbar-wrapper .navbar-collapse .region-navigation-collapsible .contextual-region .menu li a:hover:after {
              transform: translate(0, 5px); }
            header .navbar-wrapper .navbar-collapse .region-navigation-collapsible .contextual-region .menu li .is-active:after {
              transform: translate(0, 13px); }
  header .block-for-title-header {
    margin: 211px auto;
    width: auto;
    position: static; }
    header .block-for-title-header .big-title-header {
      text-align: center; }
    header .block-for-title-header .dark-title-header {
      text-align: center; }
    header .block-for-title-header .small-title-header {
      text-align: center; } }
@media (max-width: 450px) {
  header .block-for-title-header {
    margin: 211px auto;
    width: auto;
    position: static; }
    header .block-for-title-header .big-title-header {
      text-align: center;
      font-size: 48px; }
    header .block-for-title-header .dark-title-header {
      text-align: center;
      font-size: 31px; }
    header .block-for-title-header .small-title-header {
      text-align: center;
      font-size: 11px; } }

/*# sourceMappingURL=style.css.map */
